/* Header & Footer */

nav .brand-logo {
  display: none !important;
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #4b4d61;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
}

nav ul a:hover {
  background-color: transparent;
  color: #e20074;
}

nav > div > .right .hide-on-med-and-down {
  float: left !important;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
  float: left !important;
}

footer > .container > .mbn {
  border-bottom: 1px solid #afb1c082;
}

footer.page-footer {
  background-color: #4a4e57;
}

footer.page-footer {
  margin-top: 20px;
}

.page-footer a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: #edeff5 !important;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 0;
  white-space: nowrap;
}

.navbar-color {
  background-color: #f2f5fa;
}

.sc-iBaPrD.gdARiY .btn,
.sc-iBaPrD.gdARiY .btn-large,
.navbtn-hover {
  background-color: #ffffff;
  color: #e20074;
}

.sc-iBaPrD.gdARiY .z-depth-1,
nav,
.sc-iBaPrD.gdARiY .card-panel,
.sc-iBaPrD.gdARiY .card,
.sc-iBaPrD.gdARiY .toast,
.sc-iBaPrD.gdARiY .btn,
.sc-iBaPrD.gdARiY .btn-large,
.sc-iBaPrD.gdARiY .btn-small,
.sc-iBaPrD.gdARiY .btn-floating,
.sc-iBaPrD.gdARiY .dropdown-content,
.sc-iBaPrD.gdARiY .collapsible,
.sc-iBaPrD.gdARiY .sidenav {
  box-shadow: none;
}

.navHeader {
  height: 5rem;
  background: linear-gradient(
    81.8deg,
    rgb(64, 177, 248) -9.1%,
    rgb(110, 107, 255) 96.68%
  );
  display: flex;
  -webkit-box-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  align-items: left;
  top: 6.15rem;
  width: 100%;
  z-index: 5;
  transition: all 0.5s ease 0s;
}

.navHeader > div {
  font-family: Tele-GroteskUlt;
  font-size: 2.25rem;
  line-height: 1;
  color: rgb(255, 255, 255);
  padding: 1.2rem 0rem;
  box-sizing: border-box;
  height: 5rem;
  display: flex;
  -webkit-box-align: left;
  align-items: left;
  text-align: left;
  float: left;
  width: 86.6667rem;
  margin: 0 auto;
}

.JiLrb {
  width: 100%;
  left: 0px;
  right: 0px;
  background-color: rgb(247, 248, 252);
  z-index: 100;
  top: 0px;
  transition: top 100ms ease 0s;
}

.fFvlhF {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 86.6667rem;
  margin: 0px auto;
  padding: 1.9275rem 0rem;
  transition: padding 0.5s ease 0s;
}

.JhijG {
  display: flex;
}

.bhhAF {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.ewqGCM {
  display: flex;
}

.hOTLwf,
.hOTLwf > :nth-child(1),
.hOTLwf .devJourney-dropdown a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: rgb(75, 77, 97);
}

.hOTLwf {
  margin: 0px 25px;
  position: relative;
  white-space: nowrap;
  cursor: default;
}

.hOTLwf > :nth-child(2) {
  display: none;
}

.cAlsFr {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 100%);
  padding-top: 15px;
}

.hOTLwf,
.hOTLwf > :nth-child(1),
.hOTLwf .devJourney-dropdown a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: rgb(75, 77, 97);
}

.ewqGCM > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}

.ewqGCM #navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ewqGCM > :not(:first-child) {
  margin-left: 32px;
}

.jPrSNa {
  cursor: pointer;
  position: relative;
}

.ewqGCM > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}

.sc-iBaPrD.gdARiY img {
  vertical-align: middle;
  border-style: none;
}

.lifecycle-align {
  margin-left: 2rem;
}

.ewqGCM {
  display: flex;
}

.ewqGCM #navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 10rem;
}

.ewqGCM > :not(:first-child) {
  margin-left: 32px;
}

.jPrSNa {
  cursor: pointer;
  position: relative;
}

.ewqGCM > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}

.jPrSNa > :nth-child(1),
.jPrSNa > :nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgb(75, 77, 97);
}

.navbarRight {
  float: right;
  width: 15rem;
}

.sc-iBaPrD.gdARiY a {
  text-decoration: none;
  color: rgb(75, 77, 97);
}

/* Question List */

.page-wrapper .card-panel[id]:not(.tagbox) {
  color: #4b4d61;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  height: 164px;
  padding: 30px 30px 30px 94px;
  box-shadow: 0px 2px 5px #d4dbe7;
  line-height: 0;
}

.page-wrapper .card-panel[id]:not(.tagbox):hover {
  background: #fff6fb;
}

.page-wrapper .card-panel[id]:hover .row.mbn .mediumText,
.page-wrapper .card-panel[id]:hover .col.s8.m7.l9 .fa.fa-ellipsis-v {
  color: #e20074;
}

.page-wrapper .card-panel[id] .row.mbn .mediumText {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #4b4d61;
  margin: 0;
}

.page-wrapper .card-panel[id] .row .mbs {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 12px 0;
}

.chip.mrs {
  background: #f1f1ff;
  height: 18px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #6e6bff;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 10px;
  border: 1px solid #6e6bff;
  box-sizing: border-box;
  border-radius: 35px;
  margin-bottom: 0;
  text-transform: capitalize;
  white-space: nowrap;
}

.chip.mrs .fa {
  display: none;
}

.page-wrapper .largeText.lightborder.tooltipped,
.page-wrapper .mvs.lightborder.tooltipped.orange.lighten-5,
.page-wrapper .mvs.lightborder.tooltipped.light-green.white-text,
.page-wrapper .mvs.lightborder.tooltipped,
.page-wrapper .card-panel[id] .col.s2.m1.l3 .userbox-body .chip {
  visibility: visible;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  background-color: transparent !important;
  display: inline-block;
  margin: 0 15px 0 0;
  color: black !important;
}

.page-wrapper .largeText.lightborder.tooltipped::after {
  content: " Votes";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
}

.page-wrapper .mvs.lightborder.tooltipped.orange.lighten-5::after,
.page-wrapper .mvs.lightborder.tooltipped.light-green.white-text::after {
  content: " Answered";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
}

.page-wrapper .mvs.lightborder.tooltipped .hide-on-med-and-down {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
}

.page-wrapper .col.s2.m1.l3 .userbox-body .smallText {
  visibility: visible;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: black;
  opacity: 0.8;
  position: absolute;
  left: 0.75rem;
  top: 3.8rem;
}

.page-wrapper .col.s2.m1.l3 .userbox-body .smallText::before {
  content: "\f007";
  font-family: "FontAwesome";
  width: 1rem;
  height: 1rem;
  margin-right: 0.33rem;
  font-weight: 300;
}

.page-wrapper .col.m2.s12.mlm.grey-text.r {
  font-size: 12px;
  line-height: 18px;
  width: unset;
  text-align: left;
  position: absolute;
  left: 118px;
}

.page-wrapper .col.m2.s12.mlm.grey-text.r span {
  color: black !important;
  opacity: 0.8;
  margin-right: 15px;
}

.page-wrapper .col.m2.s12.mlm.grey-text.r .fa.fa-clock-o {
  margin-left: 15px;
}

.col.s2.m1.l3 .row.mbn.userbox .profile-pic.responsive-img {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  position: absolute;
  left: -49px;
}

.page-wrapper .col.m2.l1.center-align.hide-on-med-and-down {
  width: 100%;
  text-align: left;
  grid-row-start: 2;
}

.page-wrapper .col.s12.l11 {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.page-wrapper .row.mbn.questionbox {
  display: grid;
}

.page-wrapper .card-panel[id] .col.m10.s12 {
  padding-left: 16.73rem;
}

.page-wrapper .col.m2.s12.mlm.grey-text.r::before,
.page-wrapper .col.m2.s12.mlm.grey-text.r::after {
  content: "";
  width: 21px;
  height: 0px;
  opacity: 0.2;
  border: 0.8px solid #000000;
  transform: rotate(90deg);
}

.page-wrapper .col.s8.m7.l9 .fa.fa-ellipsis-v {
  transform: rotate(90deg);
}

.page-wrapper
  .col.s2.m1.l3
  .userbox-body
  .fa.fa-star.yellow-text.text-darken-3 {
  visibility: visible;
  position: absolute;
  left: 14.85rem;
  top: 5.6rem;
}

.page-wrapper
  .col.s2.m1.l3
  .userbox-body
  .fa.fa-star.yellow-text.text-darken-3::before {
  content: "\f005";
  color: #f8bf50;
  font-size: 12px;
}

.page-wrapper .col.s2.m1.l3 .userbox-body .chip {
  position: absolute;
  left: 15.2rem;
  top: 5.74rem;
}

.page-wrapper .card-panel[id] .row.mbn .col.s2.m1.l3 {
  width: 5%;
}

.page-wrapper .card-panel[id] .row.mbn .col.s10.m11.l9 {
  width: 95%;
}

.page-wrapper .card-panel[id] .row.mbn .col.s10.m11.l9 .mbs > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 54rem;
}

.page-wrapper .card-panel[id] .col.s2.m1.l3 .userbox-body {
  visibility: collapse;
}

.page-wrapper h2.hide-on-med-and-down,
.page-wrapper small.grey-text {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #4b4d61 !important;
}

.page-wrapper h2.hide-on-med-and-down {
  margin-bottom: 3.33rem;
}

.page-wrapper small.grey-text::before {
  content: "(";
}

.page-wrapper small.grey-text::after {
  content: ")";
}

.page-wrapper .chips-container {
  padding-top: 0;
}

.page-wrapper .chips-container .chip {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #4b4d61;
  margin: 0;
  padding: 10px 23px;
  display: inline;
  background-color: white !important;
  border-radius: 0;
}

.page-wrapper .chips-container .chip:hover {
  color: #e20074;
}

.page-wrapper .chips-container .chip.grey.darken-2.white-text {
  color: #e20074 !important;
  border-bottom: 2px solid #e20074;
}

.page-wrapper hr {
  display: none;
}

.page-wrapper .more-link.pagelink.chip {
  background: white;
  box-shadow: 0px 2px 5px 0px #d4dbe7;
  width: 10rem;
  color: #e20074;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.page-wrapper .more-link.pagelink.chip::before {
  content: "Show ";
}

/* Question Detail */

.questionpage {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.questionpage .card-panel {
  box-shadow: 0px 5px 10px 0px #909dc133;
}

.questionpage .mediumText.pvs {
  font-size: 16px;
  line-height: 18px;
  color: #515f77;
  opacity: 0.8;
}

.questionpage .mediumText.pvs b {
  color: black;
}

.questionpage .fa.fa-clock-o.grey-text,
.questionpage .fa.fa-pencil-square.grey-text,
.questionpage .fa.fa-tags.grey-text {
  color: #e20074 !important;
}

.questionpage .btn-large {
  background-color: #e20074;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  width: 18.33rem;
  height: 3.73rem;
}

.questionpage #post-title.largeText {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.questionpage .postbody.pvs {
  font-size: 14px;
  line-height: 21px;
  color: #4b4d61;
  text-align: justify;
}

.questionpage .lightborder.pam.post-actions {
  background: #f7f9fc;
  border: none;
  border-radius: 0.2rem;
  color: #4a4e57 !important;
}

.questionpage .postbox.replybox .viewbox {
  display: grid;
}

.questionpage .postbox.replybox .viewbox .postbody.pvs {
  grid-row-start: 2;
}

.questionpage .postbox.replybox .viewbox {
  box-shadow: 0px -1px 0px 0px #0000001a inset;
}

.questionpage .answers-head h4.grey-text,
.questionpage .answers-head small.grey-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #e20074 !important;
  text-transform: uppercase;
}

.questionpage .answers-head .chip {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4b4d61;
  margin: 0;
  padding: 10px 23px;
  display: inline;
  background-color: white !important;
  border-radius: 0;
}

.questionpage .answers-head .chip:hover {
  color: #e20074;
}

.questionpage .fa.fa-ellipsis-v {
  color: #e20074;
}

.questionpage .answers-head .chip.grey.darken-2.white-text {
  color: #e20074 !important;
  border-bottom: 2px solid #e20074;
}

.questionpage .userbox .profile-pic.responsive-img {
  height: 2.93rem;
  width: 2.93rem;
  border-radius: 100%;
}

.questionpage .fa.fa-chevron-up::before {
  content: "\f164";
  color: transparent;
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: #4b4d61;
  font-size: 1.333rem;
}

.questionpage .fa.fa-chevron-down::before {
  content: "\f165";
  color: transparent;
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: #4b4d61;
  font-size: 1.333rem;
}

.questionpage .ptl.center-align {
  display: none;
}

.questionpage .prm {
  color: #4a4e57 !important;
}

.questionpage .fa.fa-bookmark {
  color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #4a4e57;
}

/* User Card */

.card.personbox {
  width: 20.667rem;
  height: 15.667rem;
  box-shadow: 0px 5px 10px 0px #909dc133;
  background: linear-gradient(
    to bottom,
    #f2f5fa 0%,
    #f2f5fa 38.3%,
    white 38.3%,
    white 100%
  );
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.card.personbox .profile-pic.responsive-img.pts.pls {
  width: 4.667rem;
  height: 4.667rem;
  border: 0.667rem solid #ffffff;
  box-shadow: 0px 4px 10px 0px #0000001a;
  padding: 0;
  border-radius: 100%;
  position: absolute;
  left: 8rem;
  top: 3.53rem;
}

.card.personbox .grey-text.r.prm.tooltipped.lastseen {
  visibility: visible;
  padding: 0;
  text-align: left;
  position: absolute;
  top: 1.0667rem;
  left: 1.0667rem;
  line-height: 18px;
}

.card.personbox .grey-text.r.prm.tooltipped.lastseen span {
  font-size: 12px;
  color: #4b4d61;
}

.card.personbox .person-name.pts {
  visibility: visible;
  position: absolute;
  top: 9.533rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding: 0;
}

.card.personbox .person-name.pts a {
  color: #4b4d61;
}

.card.personbox .fa.fa-ellipsis-v {
  visibility: visible;
  transform: rotate(-90deg);
  color: #e20074;
}

.card.personbox .right.prm.ptm {
  padding-right: 1.0667rem;
}

.card.personbox .chip.mts,
.card.personbox .fa.fa-asterisk.orange-text.mhs.tooltipped {
  display: none;
}

.card.personbox .col.s9.m8 {
  visibility: collapse;
}

.card.personbox .fa.fa-star.yellow-text.text-darken-3 {
  visibility: visible;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 11.8667rem;
  color: #f8bf50;
}

.card.personbox .dropdown-content {
  visibility: visible;
}

.card.personbox .custom_points {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: black;
  padding-left: 0.333rem;
}

/* Tags */

.col.m3 .card-panel.pvl.tagbox {
  width: 20.6667rem;
  height: 4.2667rem;
  box-shadow: 0px 5px 10px 0px #909dc133;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
}

.col.m3 .tagbox .fa.fa-tag.grey-text {
  color: transparent !important;
  -webkit-text-stroke-width: 0.09rem;
  -webkit-text-stroke-color: #e20074;
  font-size: 20px;
}

.col.m3 .tagbox a.mrs {
  font-size: 16px;
  line-height: 18px;
  color: #4b4d61;
  width: 13rem;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col.m3 .tagbox strong.right.tag-count {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}

/* Extra */

.container {
  max-width: 1300px;
  width: 100%;
}

.page-wrapper .row .page-content .col.s12.m6.l4 {
  width: 25%;
}

.row.questionpage .col.s12.l9 {
  width: 80%;
  padding: 0 2.333rem 0 0;
}

.row.questionpage .col.m12.l3.s12 {
  width: 20%;
  padding: 0 0 0 2.333rem;
}
